@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-2 .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #2969b0;
}
#slider-7 H1 {
  color: #fac51c;
}
#features1-6 .mbr-section__col .mbr-header__text {
  color: #000000;
}
#features1-6 P {
  color: #000000;
}
#features1-6 B {
  text-align: left;
}
#msg-box3-11 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-11 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#footer1-37 P {
  color: #ffffff;
}
#buttons1-24 .btn {
  font-size: 25px;
}
#buttons1-24 .mbr-section {
  background-color: #ADF1A7;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-11 .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #2969b0;
}
#footer1-12 P {
  color: #ffffff;
}
#ext_menu-14 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-14.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-14 .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-14 .mbr-navbar__hamburger {
  color: #2969b0;
}
#footer1-15 P {
  color: #ffffff;
}
#content1-21 P {
  color: #000000;
}
#ext_menu-17 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-17 .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-17 .mbr-navbar__hamburger {
  color: #2969b0;
}
#footer1-18 P {
  color: #ffffff;
}

#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-24 .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #2969b0;
}
#footer1-30 P {
  color: #ffffff;
}
#msg-box4-23 .mbr-header__text {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#msg-box4-23 .mbr-header__subtext {
  color: #553982;
}
#msg-box4-23 .mbr-article {
  color: #ffffff;
}
#msg-box4-23 .mbr-article UL {
  color: #000000;
}
#msg-box4-23 .mbr-article P {
  color: #553982;
}
#custom-html-22 {
  /* Type valid CSS here */
}
